Titanic - Machine Learning from Disaster

In [24]:
import numpy as np
import pandas as pd

In [25]:
#df : dataframe.
df_train = pd.read_csv("./Titanic_Project_Information_Data/train.csv")
df_test = pd.read_csv("./Titanic_Project_Information_Data/test.csv")

In [ ]:
df_train.columns

In [ ]:
df_test.columns

In [ ]:
df_train = pd.read_csv("./Titanic_Project_Information_Data/train.csv", index_col="PassengerId")
df_train.head()
df_train.tail()

In [51]:
conv_train_features = ["Survived", "Pclass", "Sex", "SibSp", "Parch", "Embarked"]
def convert_train_categorical(df, feature):
    for feature in conv_train_features:
        df[feature] = df[feature].astype("category")

convert_train_categorical(df_train, conv_train_features)

In [ ]:
df_test = pd.read_csv("./Titanic_Project_Information_Data/test.csv", index_col="PassengerId")
df_test.head()
df_test.tail()

In [57]:
conv_test_features = ["Pclass", "Sex", "SibSp", "Parch", "Embarked"]
def convert_test_categorical(df, feature):
    for feature in conv_test_features:
        df[feature] = df[feature].astype("category")

convert_test_categorical(df_test, conv_test_features)

In [62]:
df_train.describe()
df_train.describe(include="category")

        Survived  Pclass   Sex  SibSp  Parch Embarked
count        891     891   891    891    891      889
unique         2       3     2      7      7        3
top            0       3  male      0      0        S
freq         549     491   577    608    678      644